body {
    background: #f9f9f9;
    font-family: 'OpenSans',Arial,sans-serif;
    overflow: hidden;
}

    body ::-moz-selection {
        background: #46bcec;
        color: #f9f9f9;
    }

    body ::selection {
        background: #46bcec;
        color: #f9f9f9;
    }

h1, h2, h3, h4, h5, h6, dt {
    font-family: 'OpenSans',Arial,sans-serif;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4, dt {
    font-size: 1.2em;
}

a:active {
    background-color: transparent;
}

p {
    font-size: 0.9em;
    text-align: justify;
}

    p a:hover {
        text-decoration: underline;
    }

li {
    list-style-type: none;
}

i {
    color: #46bcec;
}

.icon {
    font-size: 1.15em;
    margin-right: 10px;
}

#workspace {
    border-top: 6px solid #46bcec;
    padding-top: 35px;
}

#title {
    color: inherit;
}

    #title span:first-child {
        font-family: 'JennaSue',Georgia,Arial,sans-serif;
        font-size: 3.5em;
        line-height: 35px;
    }

    #title span:last-child {
        font-family: Arial,sans-serif;
        text-transform: uppercase;
        font-size: 0.46em;
        font-weight: bold;
        margin-left: 68px;
        color: #46bcec;
    }

#update {
    font-size: 0.8em;
    display: block;
    margin-top: 30px;
    color: #ccc;
    text-align: right;
    margin-right: 3px;
}

    #update .icon {
        font-size: 1em;
        margin-right: 5px;
    }

#version a:first-child {
    display: block;
}

#version .icon {
    margin-top: 6px;
}

#social .icon {
    margin-right: 0;
}

#social li {
    margin-left: 5px;
}
