@media (min-width: 980px) and (max-width: 1200px) {
    
}

@media(min-width: 768px) and (max-width: 979px) {
    
}

@media(max-width: 767px) {
    
}

@media (min-width:980px) and (max-width:1200px){
	h1 {font-size:1.78em;}
	h2 {font-size:1.6em;}
	h3 {font-size:1.45em;}
	h4,dt {font-size:1.1em;}
	nav ul {font-size:0.95em;}
	nav ul.inline-list>li {margin-left:15px;}
	
	.row {max-width:60em;}
	.notification {font-size:1em;}
	.tooltip {font-size:0.85em;}
	.button {font-size:0.9em;}
	
	#update {margin-top:23px;}
}

@media (min-width:768px) and (max-width:979px){
	h1 {font-size:1.45em;}
	h2 {font-size:1.35em;}
	h3 {font-size:1.3em;}
	h4,dt {font-size:1em;}
	p {font-size:0.8em;}
	nav ul {font-size:0.8em;}
	nav ul.inline-list>li {margin-left:12px;}
	
	.row {max-width:48em;}
	.notification {font-size:0.8em;padding:50px 0;}
	.icon {margin-right:7px;}
	.tooltip {font-size:0.8em;}
	.button {font-size:0.85em;}
	
	#update {margin-top:17px;font-size:0.75em;}
	#version .desktop{display:none;}
	#version .mobile{display:block;}
}

@media (max-width:767px){
	*{text-align:center;}
	h1 {font-size:1.6em;}
	h1 .icon {display:inline-block;height:26px;}
	h2 {font-size:1.4em;}
	h3 {font-size:1.3em;}
	h4,dt {font-size:1em;}
	p {font-size:0.8em;}
	nav ul.inline-list {display:block;font-size:0.8em;margin:0 auto;margin-top:15px;line-height:24px;}
	nav ul.inline-list>li {margin-left:10px;display:inline-block;float:none;}
	nav ul.inline-list>li:first-child {margin-left:0;}
	
	.row {max-width:35em;}
	.notification {font-size:0.9em;line-height:25px;padding:45px 30px;}
	.tooltip {visibility:hidden !important;}
	.button {font-size:0.85em;margin-top:5px;}
	.left,.right {float:none !important;}
	
	#workspace {padding-top:25px;}
	#title {margin:0 auto 6px auto;}
	#update {margin-top:0;margin-right:0;margin-bottom:25px;text-align:center;font-size:0.75em;}
	#version a:first-child{display:inline-block;}
	#version span {display:inline-block;line-height:12px;font-size:0.6em;text-align:left;}
	#version .desktop{display:none;}
	#version .mobile{display:block;}
	#social ul {display:block;margin:0 auto;width:205px;margin-top:15px;margin-bottom:15px;}
}
